<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name ="Watson">
      <section name="Chat" type="System.Configuration.NameValueSectionHandler"></section>
      <section name="Discovery" type="System.Configuration.NameValueSectionHandler"></section>
    </sectionGroup>
    <sectionGroup name ="ElasticSearch">
      <section name="SQL" type="System.Configuration.NameValueSectionHandler"></section>
      <section name="Paths" type="System.Configuration.NameValueSectionHandler"></section>
    </sectionGroup>
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <ElasticSearch>
    <SQL>
      <add key="ConnectionType" value="1" />
      <!-- Type 1: "Windows". If you want Windows Authentication, value="1" -->
      <!-- Type 2: "SQL Auth". If you want SQL User Authentication, value="2"  -->
      <add key="ConnectionString" value="Server=AR-NB-415\SQLEXPRESS;Database=ElasticSearch;" />
      <!-- Server = "Server Name. Ex: Server=CPX-L7QBTQ41YG6\SQLEXPRESS01;" -->
      <!-- DataBase = "DataBase Name. Ex: Database=ElasticSearch;" -->
      <!-- Full Example: value="Server=CPX-L7QBTQ41YG6\SQLEXPRESS01;Database=Amadeus;" -->
    </SQL>

    <ElasticServer>
      <add key="elasticURL" value="http://elkcl.tsoftglobal.com:9200" />
    </ElasticServer>
    
    <Paths>
      <add key="RutaTxt" value="C:\Users\julian.lastra\Desktop\servers.txt" />
    </Paths>
  </ElasticSearch>
  
  <Watson>
    <Chat>
      <add key="URL" value="https://api.us-east.assistant.watson.cloud.ibm.com/instances/04105e20-67d4-4ce7-87ab-fa1faf3cb238" />
      <add key="AssistantID" value="bf9ec2d5-ce74-4056-bf0a-d6450d85d5cc" />
      <add key="APIKey" value="D_nQRIAE4URpHN53bhMvgPQKfXPmOmAJhIbNQ86ZQdUV" />
      <add key="Version" value="2020-09-21" />
    </Chat>

  <Discovery>
    <add key="URL" value="https://api.us-east.discovery.watson.cloud.ibm.com/instances/82b74390-57ac-4f15-a43d-bb1e3aeb45f5" />
    <add key="APIKey" value="WgdQnLQ7--44ia7WlrlhHd_xf-Vlt80h-YeXY6TQLu7g" />
    <add key="Version" value="2020-10-19" />
    <add key="CollectionID" value="9d48c278-d115-41bf-819d-516e7a1923b3" />
    <add key="ConfigurationID" value="cf127690-e531-49e3-a787-0ab5ce6a2cb5" />
    <add key="EnvironmentID" value="ed5bb6a2-389f-4d98-925c-e0de2e1b2177" />
    <add key="DocumentID" value="b1f48973841ad9d201843f69f0198f63_1" />
    <add key="documentPath" value="C:\Users\julian.lastra\Desktop\servers.txt" />
    <add key="userIBM" value="Julian Lastra" />
    <add key="documentName" value="servers.csv" />
  </Discovery>
  </Watson>

</configuration>