<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <sectionGroup name ="Watson">

      <section name="Chat" type="System.Configuration.NameValueSectionHandler"></section>

    </sectionGroup>
  </configSections>


  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <Watson>
    <Chat>
      <add key="URL" value="https://api.us-east.assistant.watson.cloud.ibm.com/instances/04105e20-67d4-4ce7-87ab-fa1faf3cb238" />
      <add key="AssistantID" value="bf9ec2d5-ce74-4056-bf0a-d6450d85d5cc" />
      <add key="APIKey" value="D_nQRIAE4URpHN53bhMvgPQKfXPmOmAJhIbNQ86ZQdUV" />
      <add key="Version" value="2020-09-21" />
    </Chat>
  </Watson>

</configuration>